* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(40deg, #220022, #000029);
    flex-direction: column;
  }
  
  /* Contenedor de bienvenida */
  .welcome-container {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out;
  }
  
  .welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .welcome-subtext {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Contenedor del formulario de inicio de sesión */
  .container {
    color: white;
    display: flex;
    flex-direction: column;
    background: #000013;
    text-align: center;
    padding: 20px 25px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(23, 0, 128, 0.445);
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  
  .title {
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  
  input {
    padding: 10px 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    justify-content: center;
    border: none;
    align-items: center;
    background: transparent;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #03e9f4;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin: 15px; 
  }
  
  button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-message {
    color: #ff4d4d;
    font-weight: bold;
    margin-top: 10px;
    display: none;
  }
  
  /* Animación */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }